
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
}

:root {
  --background-1: #241311;
  --background-2: #120b0a;
  --header: #731f19;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}



li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#navbar {
  width: 100vw;
  height: 55px;
  display: flex;
  position: fixed;
  background-color: var(--header);
  color: #eddedd;
  z-index: 20;
}

#navbar h1 {
  left: 5%;
  position: absolute;
  padding: 1.5rem;
  display: block;
  font-size: 2.5rem;
}

#navbar ul {
  right: 5%;
  position: absolute;
  display: flex;
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 1.4rem 1rem 1.7rem;
  color: #eddedd;
}

.nav-list a:hover {
  background-color: var(--background-1);
  color: white;
}

@media (max-width: 475px)
{
  .nav-list a {
  display: block;
  font-size: 1.1rem;
  padding: 2rem 1rem 2rem;
  }
  #navbar ul {
  right: 2%;
  }

  #navbar h1 {
  left: 0%;
  position: absolute;
  padding: 1.5rem;
  font-size: 2rem;
  }
}

@media (min-width: 476px) and (max-width: 650px)
{
  .nav-list a {
  display: block;
  font-size: 1.5em;
  padding: 2rem 1rem 1.7rem;
  }
  #navbar ul {
  right: 2%;
  }

  #navbar h1 {
  left: 0%;
  position: absolute;
  padding: 1.7rem;
  font-size: 1.8rem;
  }
}

/* Welcome section */

#welcome-section {
  width: 100vw;
  height: 720px;
  background-color: var(--background-1);
  padding-top: 60px;
  background-image: url(https://www.lto.de/fileadmin/_processed_/9/3/csm_tattooo_620_413232e52c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#welcome-section h1, #welcome-section a {
  text-align: center;
  color: #b01e13;
}

#welcome-section h1 {
  margin-top: 100px;
  font-size: 4rem;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.8);
}

#welcome-section h1:first-of-type {
  font-family: courier-new;
}

#welcome-section h1:last-of-type {
  margin-top: 0px;
  font-size: 25rem;
  text-shadow: 3px 3px 5px rgba(255,255,255,0.8);
}


@keyframes flyin {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) and (min-width: 0px)
{
  #welcome-section h1:last-of-type {
  margin-top: 0px;
  font-size: 8rem;
  text-shadow: 3px 3px 5px rgba(255,255,255,0.8);
}
  #welcome-section {
  padding-top: 120px;
  }

}

@media (max-width: 1800px) and (min-width: 800px)
{
  #welcome-section h1:last-of-type {
  margin-top: 0px;
  font-size: 15rem;
  text-shadow: 3px 3px 5px rgba(255,255,255,0.8);
  }
}

.text-animation1 span {
  position: relative;
  opacity: 0;
  animation: textAnimation 2s ease forwards;
}

.text-animation2 span {
  position: relative;
  opacity: 0;
  animation: textAnimation 2s ease forwards;
}

@keyframes textAnimation {
  to {
    top: 0;
    left: 0;
    opacity: 1;
  }
}


#welcome-section a {
  font-size: 2rem;
  font-weight: bold;
  font-family: courier-new;
  display: block;
  border: 6px outset #b01e13;
  width: 200px;
  margin: 20px auto 0 auto;
  padding: 5px;
  background-color: rgba(255,255,255);
  border-radius: 20px;
  transition: transform 0.8s ease-out;
  animation: flyin 2.1s ease-out;
}

#welcome-section a:hover {
  transform: scale(1.08);
}


/* ### Projects ### */ 

.project-section {
  padding: 6rem 2rem;
  background-color: var(--background-2);
  text-align: center;
  height: 700px;
}

@media (max-width: 568px) and (min-width: 450px)
{
  .project-section {
  height: 850px;
  }
}

#project-header {
  color: white;
  font-size: 3rem;
  max-width: 300px;
  margin: 0 auto 3rem auto;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;  
}

.project-image:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px  white;
}

img {
    display: block;
    width: 100%;
}

.project-title {
  color: white;
  padding: 1rem 0.5rem;
  font-size: 2rem;
  background-color: #1c0b0a;
  border-radius: 0% 0% 10% 10%;
}

.code:hover, .project-title:hover {
  color: orange;
  font-size: 2.05rem;
  
}

.project-title:hover {
  box-shadow: 0 0 10px  white;
}

/* ### Form ### */

#registration {
  padding: 7rem 2rem;
}

#registration-header{
  color: white;
  font-size: 3rem;
  max-width: 300px;
  margin: 0rem auto 1rem auto;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

#registration {
  background: linear-gradient(
    var(--background-2)3%,
    var(--background-1)10%,
    var(--background-1)90%,
    var(--background-2));
  text-align: center;
  height: 720px;
  width: 100vw;
}

form {
  font-size: 3rem;
  color: #b01e13;
  text-align: center;
  font-weight: bold;
}

.formlabel {
  position: relative;
  display: block;
  margin: 10px auto 5px; 
  text-shadow: 2px 2px 3px black;
}

.form-control {
  width: 60%;
  height: 3rem;
  padding: 0.375rem;
  margin-top: 1px;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.2);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s easy-in-out;
  text-align: center;
  font-size: 1.5rem;
}

.form-control:focus {
  border-color: #b01e13;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(176, 30, 19, 0.25);
}

#submit {
  margin: 4rem auto 0 auto;
  display: block;
  width: 200px;
  height: 4rem;
  padding: 0.375rem;
  color: #b01e13;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s easy-in-out;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#text {
  height: 80px;
}

/* ### Profile ### */

#profile {
  height: 700px;
  width: 100vw;
  background-color: var(--background-2);
  text-align: center;
  padding: 7rem 2rem;
}

#profile-header{
  color: white;
  font-size: 3rem;
  padding-bottom: 4px;
  max-width: 300px;
  margin: 2rem auto 3rem auto;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.btn {
  color: white;
  display: inline-block;
  padding: 3rem 5rem;
  border-radius: 2px;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px black;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.contact-details i {
  margin-right: 10px;
}




/* ### Footer ### */



footer {
  font-weight: 800;
  display: flex;
  text-align: justify;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--background-1);
  border-top: 4px solid #b01e13;
  width: 100vw;
  height: 50px;
  vertical-align: center;
  color: grey;
}



footer a {
  color: grey;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}